/* general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
}

/* root */
:root{
    --background_banner : #add8e6;
    --button_banner: #daa520;
    --background_header: #00008b;
    --jumbotrone: #ee82ee;
    --large_column: #1e90ff;
    --small-column: #ffc0cb;
    --backround_section: #d3d3d3;
    --large_div: #228b22;
    --background_footer: #23272a;
    --xl_column_footer: #f08080;
    --sm_column_footer: #20b2aa;
    --button_footer: #ffb6c1;
    --nav_footer: #7fffd4;
}

/* header */
.flex_banner{
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}
header{
    background-color: var(--background_banner);
}

.banner{
    min-height: 100px;
}

.logo_banner{
    background-color: var(--button_banner);
    border: 2px dashed black;
    min-height: 50px;
    flex-grow: 1;

}

.link_banner{
    border: 2px dashed black;
    background-color: var(--button_banner);
    min-height: 50px;
    flex-grow: 2;
}

li{
    list-style: none;
    background-color: var(--button_banner);
    flex-basis: 50px;
    
}

.login_banner{
    border: 2px dashed black;
    background-color: var(--button_banner);
    min-height: 50px;
    flex-grow: 1;
}

.jumbotron_container_flex{
    background-color: var(--background_header);
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron{
    background-color: var(--jumbotrone);
    min-height: 300px;
    width: 1000px;
    border: 2px dashed black;
}

/* main */
.main_section:nth-child(even) {
    background-color: var(--backround_section);
}

.section_flex{
    display: flex;
    min-height: 500px;
    padding: 50px;
    justify-content: center;
}

.large_column{
    background-color: var(--large_column);
    flex-basis: 70%;
    max-width: 1000px;
    border: 2px dashed black;
}

.small_column{
    background-color: var(--small-column);
    flex-basis: 30%;
    border: 2px dashed black;
}

.main_flex{
    display: flex;
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.green_block{
    background-color: var(--large_div);
    min-height: 750px;
    width: 1000px;
    border: 2px dashed black;
}

/* footer */
.nav_footer, .bottom_footer{
    background-color: var(--background_footer);
}

.footer_flex{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid grey;
}

.xl_footer{
    background-color: var(--xl_column_footer);
    border: 2px dashed black;
    min-width: 50px;
    min-height: 500px;
    flex-basis: 30%;
}

.sm_foote{
    flex-basis: 70%;
}

.small_column_footer{
    background-color: var(--sm_column_footer);
    border: 2px dashed black;
    min-width: 200px;
    min-height: 500px;
}

.container_footer_flex{
    display: flex;
    background-color: var(--nav_footer);
    justify-content: space-between;
    min-height: 50px;
    align-items: center;
}

.logo_footer , .button_footer{
    background-color: var(--button_footer);
    border: 2px dashed black;
    padding: 5px;
}

.bottom_footer{
    padding: 10px 100px;
}